.layout-container {
  height: 100vh;
}

.sidenav {
  width: 260px;
}

.sidenav-handle {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 12px 12px 0;
  z-index: 1001;
}
