.layout-container {
  height: 100vh;
}

.sidenav {
  width: 260px;
  border-radius: 0;
}

.sidenav-handle {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
}

.btn {
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
  padding: 12px 16px;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
}
.menu .btn {
  color: rgba(0, 0, 0, 0.75);

  mat-icon {
    color: currentColor !important;
  }
}
