.sidenav-header {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: normal;
  border-radius: 1px solid var(--light-border);
  padding: 10px;


  h1 {
    font-size: 25px;
    margin: 0;
    line-height: 1.1;
  }

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 5px;

    background: var(--gradient-1);
    color: white;
    border-radius: 10px;
    font-size: 24px;

      border-radius: 1px solid var(--light-border);

  }
}
