.sidenav-header{
    display: flex;
    align-items: center;
    line-height: normal;
    
    h1 {
        font-size: 30px;
        margin: 0;
    }

    .mat-icon {
        margin: 10px;
        height: 40px;
        width: 40px;
        background-color: aquamarine;
        padding: 10px;
    }
}