.stat-card {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--light);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-wrapper {
  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
}

.stat-icon {
  font-size: 28px;
  color: #fff;
}
