<div class="book-card">
  <div class="img-container">
    <img
      class="img-16-9"
      [src]="
        book()?.cover ||
        'https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg'
      "
    />
  </div>
  <div class="book-info">
    <h3>{{ book()?.title }}</h3>
    <p>{{ book()?.publisher }}</p>
    <div class="rating-section">
      <mat-icon>star_shine</mat-icon>
      <data [value]="book()?.score">
        {{ book()?.score }}
      </data>
      <p>({{ book()?.assessmentQuantity }})</p>
    </div>

    <div class="categories">
      @for (category of book()?.categoriesNames; track category) {
        <app-category-card [category]="category" />
      }
    </div>
  </div>
</div>
