.book-card {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .img-container {
    display: flex;
    align-items: center;

    gap: 1rem;

    .img-16-9 {
      width: 100%;
      aspect-ratio: 3 / 4;
      object-fit: cover;
    }
  }
  .book-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
    }

    p {
      color: var(--dark-gray);
      font-size: 0.9rem;
    }
  }
}
