.book-info {
  display: flex;
  justify-content: space-between;

  .img-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .img-16-9 {
      width: 80px;
      /* tamanho da capa */
      height: 120px;
      object-fit: cover;
      border-radius: 6px;
      flex-shrink: 0;
    }
  }

  p {
    color: var(--dark-gray);
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .rating-section {
    display: flex;
    align-items: center;

    data {
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-weight: bold;

      mat-icon {
        color: #fbc02d;
      }
    }
  }
}