.lib-stat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  margin: 20px 100px;

  .stat-item {
    border-radius: 20px;
    border: 1px solid var(--light-gray);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    min-height: 90px;

    .stat-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.4em;
    }

    .stat-value {
      font-size: 2.2em;
      font-weight: bold;
    }

    .stat-label {
      font-size: 1em;
      color: var(--dark-gray);
    }

    .book {
      color: var(--purple-1);
    }

    .check {
      color: var(--success);
    }

    .x-circle {
      color: var(--dark-gray);
    }
  }
}
