.main-content {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  padding: 30px;

  header {
    p {
      color: var(--dark-gray);
    }
  }

  .spacer {
    display: flex;
    justify-content: center;
  }
}
