.main-content {
  display: flex;
  flex-direction: column;
  padding: 30px;

  .stats-cards-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
  }
}
