.main-content {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  padding: 30px;

  header {
    p {
      color: var(--dark-gray);
    }
  }

  .spacer {
    display: flex;
    gap: 20px;
  }

  .your-library-container {
    flex: 0 0 40%;
  }

  .rated-books-container {
    flex: 1;
  }
}
