<div class="main-content">
  <div>
    <h1>Bem-vindo, João Silva! 👋</h1>
    <p>Aqui está um resumo da sua Prateleira Inteligente</p>
  </div>
  <div class="stats-cards-container">
    <app-generic-statcard
      icon="import_contacts"
      count="8"
      label="Total de Livros"
      iconBgColor="var(--book-stat-icon-bg)"
    >
    </app-generic-statcard>
    <app-generic-statcard
      icon="group"
      count="8"
      label="Total de Usuários"
      iconBgColor="var(--user-stat-icon-bg)"
    >
    </app-generic-statcard>
    <app-generic-statcard
      icon="category"
      count="8"
      label="Total de Categorias"
      iconBgColor="var(--category-stat-icon-bg)"
    >
    </app-generic-statcard>
    <app-generic-statcard
      icon="mode_comment"
      count="8"
      label="Total de Comentários"
      iconBgColor="var(--comment-stat-icon-bg)"
    >
    </app-generic-statcard>
  </div>
</div>
