:root {
    padding: 0;
    margin: 0;
    
  --gradient-primary: linear-gradient(
    135deg,
    #030213 0%,
    #1a1a40 100%
  );

  --gradient-sidebar: linear-gradient(
    180deg,
    oklch(0.985 0 0) 0%,
    oklch(0.95 0 0) 100%
  );
}
