:root {
  padding: 0;
  margin: 0;

  --light: #ffffff;
  --dark: #121212;

  --dark-gray: #616161;

  --light-border: #e0e0e0;

  --gradient-1: linear-gradient(to bottom right, #7011b4, #5c37f7);
  --gradient-2: linear-gradient(to bottom right, #5c37f7, #3f8cff);
  --gradient-3: linear-gradient(to bottom right, #4b0f8c, #7011b4);

  --book-stat-icon-bg: #615fff;
  --user-stat-icon-bg: #ad46ff;
  --category-stat-icon-bg: #f6339a;
  --comment-stat-icon-bg: #2b7fff;
}
